{% extends 'base.html' %}
{% block title %}Select Role{% endblock %}
{% block content %}
<h2>Select Account Role</h2>

<form method="post">
    {% csrf_token %}

    <label>Select Role:</label>
    <select name="role" required>
        <option disabled selected>Choose Role</option>
        <option value="DOCTOR">Doctor</option>
        <option value="SECRETARY">Secretary</option>
        <option value="FINANCE">Finance</option>
    </select><br><br>

    <button type="submit">Proceed</button>
    <a href="{% url 'superadmin_dashboard' %}">Back</a>
</form>

{% endblock %}
