{% extends 'base.html' %}
{% block title %}Manage Users{% endblock %}
{% block content %}
<h2>All Accounts</h2>
<table border="1">
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>
            <a href="{% url 'update_user' user.id %}">Edit</a> |
            <a href="{% url 'delete_user' user.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No users found.</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'superadmin_dashboard'%}">Back</a>
{% endblock %}