{% extends 'base.html' %}
{% block title %}Manage Users{% endblock %}
{% block content %}
<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('registered') === 'doctor') {
        alert('Successfully Registered');
        window.history.replaceState({}, document.title, '/list-users/');
    }
</script>
<h2>All Accounts</h2>

<!-- (Added by Gocotano) Implementing Search Filter, then refresh the site with the parameter of search_query. -->
<form method="GET" action="">
    <label for="search_query">Search by Name:</label>
    <input type="text" id="search_query" name="search_query" value="{{ request.GET.search_query|default_if_none:'' }}">

    <!-- (Gocotano Changes) - Added Role Filter Dropdown -->
    <label for="role_filter">View by Role:</label>
    <select id="role_filter" name="role_filter">
        <option value="" {% if not request.GET.role_filter %}selected{% endif %}>All</option>
        <option value="DOCTOR" {% if request.GET.role_filter == "DOCTOR" %}selected{% endif %}>Doctor</option>
        <option value="FINANCE" {% if request.GET.role_filter == "FINANCE" %}selected{% endif %}>Finance</option>
        <option value="SECRETARY" {% if request.GET.role_filter == "SECRETARY" %}selected{% endif %}>Secretary</option>
    </select>
    <!-- (End Gocotano Changes) -->

    <button type="submit">Search</button>
</form>


<table border="1">
    <tr>
        <th>No.</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    {% for item in user_list %}
    <tr>
        <td>{{ forloop.counter }}</td> <!-- Count2 shit lmfao -->
        <td>{{ item.full_name|default:"N/A" }}</td>
        <td>{{ item.user.username }}</td>
        <td>{{ item.user.role }}</td>
        <td>
            <a href="{% url 'view_user' item.user.id %}">View</a> |
            <a href="{% url 'update_user' item.user.id %}">Edit</a> |
            <a href="{% url 'delete_user' item.user.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No users found.</td>
    </tr>
    {% endfor %}
</table>


<a href="{% url 'superadmin_dashboard'%}"><button type="button">Back</button></a>
{% endblock %}